<div class="col-12 mx-auto mt-3">
    <label for="time" class="form-label font-weight-bold display-5">Time</label>
    <div class="row mb-3">
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("09:00 AM") ? primary : secondary %>"
                   value="09:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("09:30 AM") ? primary : secondary %>"
                   value="09:30 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("10:00 AM") ? primary : secondary %>"
                   value="10:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("10:30 AM") ? primary : secondary %>"
                   value="10:30 AM">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("11:00 AM") ? primary : secondary %>"
                   value="11:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("11:30 AM") ? primary : secondary %>"
                   value="11:30 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("12:00 AM") ? primary : secondary %>"
                   value="12:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("12:30 AM") ? primary : secondary %>"
                   value="12:30 AM">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("13:00 AM") ? primary : secondary %>"
                   value="13:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("13:30 AM") ? primary : secondary %>"
                   value="13:30 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("14:00 AM") ? primary : secondary %>"
                   value="14:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("14:30 AM") ? primary : secondary %>"
                   value="14:30 AM">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("15:00 AM") ? primary : secondary %>"
                   value="15:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("15:30 AM") ? primary : secondary %>"
                   value="15:30 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("16:00 AM") ? primary : secondary %>"
                   value="16:00 AM">
        </div>
        <div class="col-3">
            <input type="button"
                   class="btn btn-lg btn-block <%= times?.includes("16:30 AM") ? primary : secondary %>"
                   value="16:30 AM">
        </div>
    </div>

    <button id="submit" class="w-100 btn btn-primary btn-lg order-md-last mt-3" type="submit">Update</button>
</div>
