<%- include('partials/head'); %>
<body>
<%- include('partials/navbar'); %>
<div>
    <main class="container">
        <%- include('partials/header', {title:'Appointments', description:'Time slots manager'}); %>

        <div class="col-12">
            <label for="date" class="form-label font-weight-bold display-5">Date</label>
            <input type="date" class="form-control form-control-lg" id="date" value="<%= date ?? "" %>"
                   placeholder="yyyy-mm-dd"
                   required="">
            <div class="invalid-feedback">
                Please enter a date.
            </div>
        </div>

        <div class="col-12 mx-auto row <%= times ? "visible" : "hidden" %> mt-lg-4">
            <table class="table table-striped border">
                <thead>
                <tr>
                    <th class="font-weight-bold" scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < times?.length ?? 0; i++) { %>
                    <tr>
                        <td><%= times[i] %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <form class="needs-validation <%= date ? "visible" : "hidden" %>" novalidate=""
              id="appointmentsForm" name="appointmentsForm"
              action="/appointments" method="post">
            <%- include('partials/time_slot_selector', {primary:'my-div-disabled btn-secondary', secondary:'btn-outline-secondary'}); %>
        </form>


    </main>
</div>
<%- include('partials/footer'); %>
<script src="js/lib/utils_lib.js"></script>
<script src="js/appointments.js"></script>
</body>
</html>