<%- include('partials/head'); %>
<body>
<%- include('partials/navbar'); %>
<div>
    <main class="container">
        <%- include('partials/header', {title:'G Test Info', description:'Please confirm your Information'}); %>

        <form class="needs-validation" id="gForm" name="gForm" action="/g" method="post">
            <div class="g-update-form row g-5">
                <%- include('partials/user_info_read_test'); %>
                <%- include('partials/car_info_edit_test'); %>
                <%- include('partials/date_selector'); %>
            </div>
            <button class="w-100 btn btn-primary btn-lg order-md-last mt-3 <%= date ? "invisible" : "visible" %>"
                    type="submit">Update
            </button>
        </form>

        <form class="needs-validation <%= date ? "visible" : "invisible" %>" novalidate=""
              id="gTimeForm" name="gTimeForm"
              action="/g" method="post">
            <%- include('partials/time_slot_selector', {primary:'btn-outline-primary', secondary:'my-div-disabled btn-outline-secondary'}); %>
        </form>

    </main>
</div>
<%- include('partials/footer'); %>
<script src="js/lib/utils_lib.js"></script>
<script src="js/g.js"></script>
</body>
</html>